!!!
%html
    %head
        %title= @title||"Tata Manager"
        %link(rel="= stylesheet" href="css/uikit.min.css")
        %script(src="js/jquery.js")
        %script(src="js/uikit.min.js")

        %meta(http-equiv="refresh" content="3")
    %body
        .uk-container.uk-dark
            = yield 
                    